*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    overflow-x: hidden;
}


/* nav img{
    float:left ;
    margin-right:680px;
} */
 nav .search{
    margin-top:12px;
 }

 .nav-link:hover {
    color: #ff1c7b !important;
}
.sec1{
    background: url("asserts/bg1.jpg");
    padding-top:100px;
    text-align: center;
    padding-bottom:100px;
    background-position: center;
    background-size: cover;
    color:#fff;
}
.sec1 h3{
    font-size:18px;

}
.sec1 h2{
    font-size:48px;
}
.sec1 h2:hover{
color:#ff1c7b ;

}
.sec2{
    text-align: center;
    background-color: #111;
}
.sec2 h2{
    font-size: 30px;
    color:#fff;
}
.sec3{
    background-color: aqua;
}
.sec3 img{
    padding:20px;
}
.sec4{
    background-color: #111;
    text-align:center;
}
.sec4 h2{
    color:#fff;
    font-size:30px;
    padding:20px;
}
.sec4 img{
    padding:50px;
}
.sec7{
    background-color: #111;
    
}
.sec7 .box{
    background-color: #2974ff;
    color:#fff;
    margin:20px;
}
.sec7 .box:hover{
    background-color: #54595F;
}
.sec7 a{
    font-size:36px;
    color:#fff;
    
    
    
   

}
.sec7 a:hover{
    color:#ff1c7b !important;
}
.sec7 p{
    font-size:14px;
    overflow:hidden;
    padding:20px;
  
}
.sec7-img{
    border:2px solid #fff;
    margin:40px;
    padding:20px;
    border-radius:100%;
}
.sec8-box1{
    margin-top:20px;
    background-color: #f70f0f;
    color:#fff;
    padding:30px;
}
.sec8-box2{
    margin-top:20px;
    background-color: #2a9c30;
    color:#fff;
    padding:30px;
}
.sec8-box3{
    margin-top:20px;
    background-color: #d4d013;
    color:#fff;
    padding:30px;
}
.sec8-box4{
    margin-top:20px;
    background-color: #ff05fb;
    color:#fff;
    padding:30px;
}
.sec8-headding-one{
    font-size:48px;
}
.sec8-headding-two{
    font-size:20px;
    text-transform: uppercase;
}
.sec9{
    margin-top:30px;
    color:#111;
  
}
.sec9 .accordion-item button{
   font-weight: bold;
    background-color: #f2f2f2!important;
    color:#111;
}

.sec9 .accordion-item button:hover{
background-color: #111!important;
color:#fff;
}
.footer{
    background-color: #111;
    text-align:center;
    overflow:hidden;
}
.footer p{
    color:#fff;
    font-size:16px;
    padding:20px;
}


@media (max-width:1000px){
  body{
    /* overflow-y:hidden; */
  }
  .sec1{
 overflow:hidden;
  } 
  .sec2{
    overflow:hidden;
  }
   .sec3{
    overflow:hidden;
  }
  .sec4{
    overflow:hidden;
  }
  .sec5{
    overflow:hidden;
  }
  .sec6{
    overflow:hidden;
  }
  .sec7{
    overflow:hidden;
  }
  .sec8{
    overflow:hidden;
  }
  .sec9{
    overflow:hidden;
  }
  .footer{
    overflow:hidden;
  }
    .sec4 .w-50{
       width:100%!important;

        
    }
    
    .sec7{
        overflow:hidden;
    }
    
}
@media (min-width:1000px){
    body{
        /* overflow-y:hidden; */
      }
      .sec1{
     overflow:hidden;
      } 
      .sec2{
        overflow:hidden;
      }
       .sec3{
        overflow:hidden;
      }
      .sec4{
        overflow:hidden;
      }
      .sec5{
        overflow:hidden;
      }
      .sec6{
        overflow:hidden;
      }
      .sec7{
        overflow:hidden;
      }
      .sec8{
        overflow:hidden;
      }
      .sec9{
        overflow:hidden;
      }
      .footer{
        overflow:hidden;
      }
}
@media (min-width:992px) and (max-width:1400px){
    .sec7-img{
        width:100%;

    }
}